<div class="row ">
    <div class="col-4 offset-7 row align-items-center justify-content-end">
        <button type="button" class="btn btn-light btn-header-light">
            <span>Opcion 1</span>
        </button>
        <button type="button" class="btn btn-light btn-header-light">
            <span>Opcion 2</span>
        </button>
        <button type="button" class="btn btn-light btn-header-light">
            <i class = "fa fa-search fa-1x" aria-hidden="true"> </i> 
        </button>
        <button type="button" class="btn btn-light btn-header-light">
            <i class = "fa fa-shopping-cart fa-1x" aria-hidden="true"> </i> 
        </button>
        <button type="button" class="btn btn-light btn-header-light">
            <i class = "fa fa-user-circle fa-1x" aria-hidden="true"> </i> 
        </button> 
    </div>
</div>
<div class="row">
    <div class="col-2 offset-1 ">
        <img src="/assets/lucasian-logo.png" class="logo">
    </div>
    <div class="col-7 offset-1 row align-items-center justify-content-end"> 

        <div class="btn-group">
            <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" >
                <span>Menu 1 </span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Opcion 1</a>
                <a class="dropdown-item" href="#">Opcion 2</a>
                <a class="dropdown-item" href="#">Opcion 3</a>
            </div>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" >
                <span>Menu 2 </span>
                <span class="sr-only">Toggle Dropdown</span>
                </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Opcion 1</a>
                <a class="dropdown-item" href="#">Opcion 2</a>
                <a class="dropdown-item" href="#">Opcion 3</a>
            </div>
        </div> 

        <div class="btn-group">
            <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" >
                <span>Menu 3 </span>
                <span class="sr-only">Toggle Dropdown</span>
                </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Opcion 1</a>
                <a class="dropdown-item" href="#">Opcion 2</a>
                <a class="dropdown-item" href="#">Opcion 3</a>
            </div>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" >
                <span>Menu 4 </span>
                <span class="sr-only">Toggle Dropdown</span>
                </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Opcion 1</a>
                <a class="dropdown-item" href="#">Opcion 2</a>
                <a class="dropdown-item" href="#">Opcion 3</a>
            </div>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" >
                <span>Menu 5 </span>
                <span class="sr-only">Toggle Dropdown</span>
                </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Opcion 1</a>
                <a class="dropdown-item" href="#">Opcion 2</a>
                <a class="dropdown-item" href="#">Opcion 3</a>
            </div>
        </div>                                         

        <button type="button" class="btn btn-primary btn-login ml-3">Login</button>                      
    </div>
</div>