<div class="row align-items-center justify-content-center p-5">
    <div class="col-auto">
        <img src="/assets/lucasian-logo.png" class="logo">
        <br>
        <span>Solo para pruebas</span>
    </div>
</div>